@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* Global styles */
.window-app {
    font-family: "Roboto", sans-serif;
}

.rollable:hover,
.rollable:focus {
    color: #000;
    text-shadow: 0 0 10px red;
    cursor: pointer;
}

.grid,
.grid-2col {
    display: grid;
    grid-column: span 2 / span 2;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 10px;
    margin: 10px 0;
    padding: 0;
}

.grid-3col {
    grid-column: span 3 / span 3;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
    grid-column: span 4 / span 4;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
    grid-column: span 5 / span 5;
    grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
    grid-column: span 6 / span 6;
    grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
    grid-column: span 7 / span 7;
    grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
    grid-column: span 8 / span 8;
    grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
    grid-column: span 9 / span 9;
    grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
    grid-column: span 10 / span 10;
    grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
    grid-column: span 11 / span 11;
    grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
    grid-column: span 12 / span 12;
    grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-start-2 {
    grid-column-start: 2;
}

.grid-start-3 {
    grid-column-start: 3;
}

.grid-start-4 {
    grid-column-start: 4;
}

.grid-start-5 {
    grid-column-start: 5;
}

.grid-start-6 {
    grid-column-start: 6;
}

.grid-start-7 {
    grid-column-start: 7;
}

.grid-start-8 {
    grid-column-start: 8;
}

.grid-start-9 {
    grid-column-start: 9;
}

.grid-start-10 {
    grid-column-start: 10;
}

.grid-start-11 {
    grid-column-start: 11;
}

.grid-start-12 {
    grid-column-start: 12;
}

.grid-span-2 {
    grid-column-end: span 2;
}

.grid-span-3 {
    grid-column-end: span 3;
}

.grid-span-4 {
    grid-column-end: span 4;
}

.grid-span-5 {
    grid-column-end: span 5;
}

.grid-span-6 {
    grid-column-end: span 6;
}

.grid-span-7 {
    grid-column-end: span 7;
}

.grid-span-8 {
    grid-column-end: span 8;
}

.grid-span-9 {
    grid-column-end: span 9;
}

.grid-span-10 {
    grid-column-end: span 10;
}

.grid-span-11 {
    grid-column-end: span 11;
}

.grid-span-12 {
    grid-column-end: span 12;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}

.flex-group-left {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: left;
}

.flex-group-right {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: right;
}

.flexshrink {
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
}

.flex-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.flexlarge {
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
}

.align-left {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: left;
}

.align-right {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: right;
}

.align-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
}

/* Styles limited to jdrMouny sheets */
.jdrMouny .item-form {
    font-family: "Roboto", sans-serif;
}

.jdrMouny .sheet-header {
    -webkit-box-flex: 0;
    -ms-flex: 0 auto;
    flex: 0 auto;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.jdrMouny .sheet-header .profile-img {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100px;
    flex: 0 0 100px;
    height: 100px;
    margin-right: 10px;
}

.jdrMouny .sheet-header .header-fields {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.jdrMouny .sheet-header h1.charname {
    height: 50px;
    padding: 0px;
    margin: 5px 0;
    border-bottom: 0;
}

.jdrMouny .sheet-header h1.charname input {
    width: 100%;
    height: 100%;
    margin: 0;
}

.jdrMouny .sheet-tabs {
    background-image: url("../assets/img/banderole.png");
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
}

.window-app.actor,
.window-app.actor .window-content {
    max-width: 740px;
    max-height: 939px;
    min-height: 939px;
    min-width: 740px;
}

.sheet-body {
    background-image: url("../assets/img/page_perso_jdr_stats_off.jpg");
    background-size: 100% !important;
    padding: 15px 34px 34px 34px;
    color: white;
}

.actor img {
    border: transparent;
}

.jdrMouny.sheet input, .jdrMouny.sheet select, .jdrMouny.sheet textarea{
    color: white;
}

.jdrMouny .sheet-body,
.jdrMouny .sheet-body .tab,
.jdrMouny .sheet-body .tab .editor {
    height: 100%;
}

.jdrMouny .tox .tox-editor-container {
    background: #fff;
}

.jdrMouny .tox .tox-edit-area {
    padding: 0 8px;
}

.jdrMouny .resource-label {
    font-weight: bold;
}

.jdrMouny .items-header {
    height: 28px;
    margin: 2px 0;
    padding: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.05);
    border: 2px groove #eeede0;
    font-weight: bold;
}

.jdrMouny .items-header>* {
    font-size: 14px;
    text-align: center;
}

.jdrMouny .items-header .item-name {
    font-weight: bold;
    padding-left: 5px;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.jdrMouny .items-list {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    scrollbar-width: thin;
    color: #444;
}

.jdrMouny .items-list .item-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.jdrMouny .items-list .item-name {
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
    margin: 0;
    overflow: hidden;
    font-size: 13px;
    text-align: left;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.jdrMouny .items-list .item-name h3,
.jdrMouny .items-list .item-name h4 {
    margin: 0;
    white-space: nowrap;
    overflow-x: hidden;
}

.jdrMouny .items-list .item-controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100px;
    flex: 0 0 100px;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.jdrMouny .items-list .item-controls a {
    font-size: 12px;
    text-align: center;
    margin: 0 6px;
}

.jdrMouny .items-list .item {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 2px;
    border-bottom: 1px solid #c9c7b8;
}

.jdrMouny .items-list .item:last-child {
    border-bottom: none;
}

.jdrMouny .items-list .item .item-name {
    color: #191813;
}

.jdrMouny .items-list .item .item-name .item-image {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30px;
    flex: 0 0 30px;
    height: 30px;
    background-size: 30px;
    border: none;
    margin-right: 5px;
}

.jdrMouny .items-list .item-prop {
    text-align: center;
    border-left: 1px solid #c9c7b8;
    border-right: 1px solid #c9c7b8;
    font-size: 12px;
}

.jdrMouny .items-list .items-header {
    height: 28px;
    margin: 2px 0;
    padding: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.05);
    border: 2px groove #eeede0;
    font-weight: bold;
}

.jdrMouny .items-list .items-header>* {
    font-size: 12px;
    text-align: center;
}

.jdrMouny .items-list .items-header .item-name {
    padding-left: 5px;
    text-align: left;
}

.jdrMouny .item-formula {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 200px;
    flex: 0 0 200px;
    padding: 0 8px;
}

.jdrMouny .effects .item .effect-source,
.jdrMouny .effects .item .effect-duration,
.jdrMouny .effects .item .effect-controls {
    text-align: center;
    border-left: 1px solid #c9c7b8;
    border-right: 1px solid #c9c7b8;
    font-size: 12px;
}

.jdrMouny .effects .item .effect-controls {
    border: none;
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

@media (prefers-reduced-motion:reduce) {
    .btn {
        transition: none
    }
}

.btn:hover {
    color: #212529
}

.btn-check:focus+.btn,
.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25)
}

.btn.disabled,
.btn:disabled,
fieldset:disabled .btn {
    pointer-events: none;
    opacity: .65
}

.btn-primary {
    color: #fff;
    background-color: #553210;
    border-color: #553210
}

.btn-primary:hover {
    color: #fff;
    background-color: #794716;
    border-color: #864f19
}

.btn-check:focus+.btn-primary,
.btn-primary:focus {
    color: #fff;
    background-color: #794716;
    border-color: #864f19;
    box-shadow: 0 0 0 .25rem #864f1980
}

.btn-check:active+.btn-primary,
.btn-check:checked+.btn-primary,
.btn-primary.active,
.btn-primary:active,
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #794716;
    border-color: #864f19
}

.btn-check:active+.btn-primary:focus,
.btn-check:checked+.btn-primary:focus,
.btn-primary.active:focus,
.btn-primary:active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .25rem #864f1980
}

.btn-primary.disabled,
.btn-primary:disabled {
    color: #fff;
    background-color: #553210;
    border-color: #553210
}

.btn-outline-primary {
    color: #553210;
    border-color: #553210
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #553210;
    border-color: #553210
}

.btn-check:focus+.btn-outline-primary,
.btn-outline-primary:focus {
    box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .5)
}

.btn-check:active+.btn-outline-primary,
.btn-check:checked+.btn-outline-primary,
.btn-outline-primary.active,
.btn-outline-primary.dropdown-toggle.show,
.btn-outline-primary:active {
    color: #fff;
    background-color: #553210;
    border-color: #553210
}

.btn-check:active+.btn-outline-primary:focus,
.btn-check:checked+.btn-outline-primary:focus,
.btn-outline-primary.active:focus,
.btn-outline-primary.dropdown-toggle.show:focus,
.btn-outline-primary:active:focus {
    box-shadow: 0 0 0 .25rem #864f1980
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
    color: #553210;
    background-color: transparent
}

.jdrMouny.sheet input::placeholder,
.jdrMouny.sheet select::placeholder,
.jdrMouny.sheet textarea::placeholder {
    color: rgba(245, 245, 245, 0.671);
}

.encadrement
{
    background: url(../assets/img/fond_stats.png) round 11px 24px, url(../assets/img/encadrement_stats.png) round;
    height: 100px;
    width: 72px;
    text-align: -webkit-center;
    background-size: 49px, 73px;
    background-repeat: no-repeat;
}
.encadrement input[type="text"]
{
    border:transparent;
    width: 2em;
    height: 2em;
    padding-top: 0%
}
.encadrement label, .encadrement input{
    display:flex;
    flex-direction:column;
    padding-top: 18px;
}

.encadrementLvl
{
    background: url("../assets/img/fond_stats.png") no-repeat round;
    height: 80%;
    background-position-x: -12px;
    text-align: -webkit-center;
    align-self: flex-end;
    filter: drop-shadow(0 0 0.75rem yellow);
}
.encadrementLvl input[type="text"]
{
    border:transparent;
    width: 2em;
    height: 2em;
    padding-top: 0%;
}
.encadrementLvl label, .encadrementLvl input{
    display:flex;
    flex-direction:column;
    color: yellow !important;
    padding-top: 22px;
}

.healthInput,
.healthInput input {
    color: orangered !important;
    border-color: transparent;
    align-items: center;
    font-weight: bold;
}

.healthInput input:nth-child(1) {
    text-align: right;
}

.healthInput input:nth-child(2) {
    text-align: left;
}

.manaInput,
.manaInput input {
    color: #7e9fff !important;
    border-color: transparent;
    align-items: center;
    font-weight: bold;
}

input.underline {
    width: 100%;
    border: 0;
    border-bottom: 2px solid lightgrey;
}

.manaInput input:nth-child(1) {
    text-align: right;
}
.manaInput input:nth-child(2) {
    text-align: left;
}

.etoile
{
    background: url(../assets/img/etoile.png) no-repeat round;
    height: 80px;
    text-align: -webkit-center;
}

.etoile input
{
    margin: 27px 4px 18px 6px;
    width: 49px;
}

.perforant
{
    background: url(../assets/img/fond_stats.png) round 5px 24px, url(../assets/img/perforant.png) no-repeat round 4px -10px;
    height: 75px;
    width: 72px;
    text-align: -webkit-center;
    background-size: 61px, 53px;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    filter: drop-shadow(0 0 0.75rem black);
}
.perforant > input
{
    margin-top: 40px;
    width: 2em;
    border: transparent;
}

.air
{
    background: url(../assets/img/fond_stats.png) round 5px 24px, url(../assets/img/air.png) no-repeat round 4px -17px;
    height: 75px;
    width: 72px;
    text-align: -webkit-center;
    background-size: 61px, 53px;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    filter: drop-shadow(0 0 0.75rem black);
}
.air > input
{
    margin-top: 40px;
    width: 2em;
    border: transparent;
}

.tranchant
{
    background: url(../assets/img/fond_stats.png) round 5px 24px, url(../assets/img/tranchant.png) no-repeat round 4px -10px;
    height: 75px;
    width: 72px;
    text-align: -webkit-center;
    background-size: 61px, 53px;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    filter: drop-shadow(0 0 0.75rem black);
}
.tranchant > input
{
    margin-top: 40px;
    width: 2em;
    border: transparent;
}

.tenebre
{
    background: url(../assets/img/fond_stats.png) round 5px 24px, url(../assets/img/tenebre.png) no-repeat round 4px -13px;
    height: 75px;
    width: 72px;
    text-align: -webkit-center;
    background-size: 61px, 65px;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    filter: drop-shadow(0 0 0.75rem black);
}
.tenebre > input
{
    margin-top: 40px;
    width: 2em;
    border: transparent;
}

.spirituel
{
    background: url(../assets/img/fond_stats.png) round 5px 24px, url(../assets/img/spirituel.png) no-repeat round 15px -4px;
    height: 75px;
    width: 72px;
    text-align: -webkit-center;
    background-size: 61px, 42px;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    filter: drop-shadow(0 0 0.75rem black);
}
.spirituel > input
{
    margin-top: 40px;
    width: 2em;
    border: transparent;
}

.occulte
{
    background: url(../assets/img/fond_stats.png) round 5px 24px, url(../assets/img/occulte.png) no-repeat round -2px -24px;
    height: 75px;
    width: 72px;
    text-align: -webkit-center;
    background-size: 61px, 78px;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    filter: drop-shadow(0 0 0.75rem black);
}
.occulte > input
{
    margin-top: 40px;
    width: 2em;
    border: transparent;
}

.nature
{
    background: url(../assets/img/fond_stats.png) round 5px 24px, url(../assets/img/nature.png) no-repeat round 9px -23px;
    height: 75px;
    width: 72px;
    text-align: -webkit-center;
    background-size: 61px, 61px;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    filter: drop-shadow(0 0 0.75rem black);
}
.nature > input
{
    margin-top: 40px;
    width: 2em;
    border: transparent;
}

.lumiere
{
    background: url(../assets/img/fond_stats.png) round 5px 24px, url(../assets/img/lumiere.png) no-repeat round 3px -11px;
    height: 75px;
    width: 72px;
    text-align: -webkit-center;
    background-size: 61px, 65px;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    filter: drop-shadow(0 0 0.75rem black);
}
.lumiere > input
{
    margin-top: 40px;
    width: 2em;
    border: transparent;
}

.feu
{
    background: url(../assets/img/fond_stats.png) round 5px 24px, url(../assets/img/feu.png) no-repeat round 9px -17px;
    height: 75px;
    width: 72px;
    text-align: -webkit-center;
    background-size: 61px, 53px;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    filter: drop-shadow(0 0 0.75rem black);
}
.feu > input
{
    margin-top: 40px;
    width: 2em;
    border: transparent;
}

.eau
{
    background: url(../assets/img/fond_stats.png) round 5px 24px, url(../assets/img/eau.png) no-repeat round 8px -20px;
    height: 75px;
    width: 72px;
    text-align: -webkit-center;
    background-size: 61px, 53px;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    filter: drop-shadow(0 0 0.75rem black);
}
.eau > input
{
    margin-top: 40px;
    width: 2em;
    border: transparent;
}

.contondant
{
    background: url(../assets/img/fond_stats.png) round 5px 24px, url(../assets/img/contondant.png) no-repeat round 4px -10px;
    height: 75px;
    width: 72px;
    text-align: -webkit-center;
    background-size: 61px, 53px;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    filter: drop-shadow(0 0 0.75rem black);
}
.contondant > input
{
    margin-top: 40px;
    width: 2em;
    border: transparent;
}

.shieldPerforant
{
    background: url(../assets/img/fond_stats.png) round 5px 24px, url(../assets/img/perforant.png) no-repeat round 4px -10px, url(../assets/img/shield.png) no-repeat round 0px -27px;
    height: 75px;
    width: 72px;
    text-align: -webkit-center;
    background-size: 61px, 53px, 70px;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    filter: drop-shadow(0 0 0.75rem black);
}
.shieldPerforant > input
{
    margin-top: 40px;
    width: 2em;
    border: transparent;
}

.shieldAir
{
    background: url(../assets/img/fond_stats.png) round 5px 24px, url(../assets/img/air.png) no-repeat round 4px -17px, url(../assets/img/shield.png) no-repeat round 0px -27px;
    height: 75px;
    width: 72px;
    text-align: -webkit-center;
    background-size: 61px, 53px, 70px;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    filter: drop-shadow(0 0 0.75rem black);
}
.shieldAir > input
{
    margin-top: 40px;
    width: 2em;
    border: transparent;
}

.shieldTranchant
{
    background: url(../assets/img/fond_stats.png) round 5px 24px, url(../assets/img/tranchant.png) no-repeat round 4px -4px, url(../assets/img/shield.png) no-repeat round 0px -27px;    width: 72px;
    text-align: -webkit-center;
    background-size: 61px, 53px, 70px;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    filter: drop-shadow(0 0 0.75rem black);
}
.shieldTranchant > input
{
    margin-top: 40px;
    width: 2em;
    border: transparent;
}

.shieldTenebre
{
    background: url(../assets/img/fond_stats.png) round 5px 24px, url(../assets/img/tenebre.png) no-repeat round 2px -12px, url(../assets/img/shield.png) no-repeat round 0px -27px;
    height: 75px;
    width: 72px;
    text-align: -webkit-center;
    background-size: 61px, 64px, 70px;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    filter: drop-shadow(0 0 0.75rem black);
}
.shieldTenebre > input
{
    margin-top: 40px;
    width: 2em;
    border: transparent;
}

.shieldSpirituel
{
    background: url(../assets/img/fond_stats.png) round 5px 24px, url(../assets/img/spirituel.png) no-repeat round 9px -5px, url(../assets/img/shield.png) no-repeat round 0px -27px;
    height: 75px;
    width: 72px;
    text-align: -webkit-center;
    background-size: 61px, 53px, 70px;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    filter: drop-shadow(0 0 0.75rem black);
}
.shieldSpirituel > input
{
    margin-top: 40px;
    width: 2em;
    border: transparent;
}

.shieldOcculte
{
    background: url(../assets/img/fond_stats.png) round 5px 24px, url(../assets/img/occulte.png) no-repeat round -10px -24px, url(../assets/img/shield.png) no-repeat round 0px -27px;
    height: 75px;
    width: 72px;
    text-align: -webkit-center;
    background-size: 61px, 90px, 70px;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    filter: drop-shadow(0 0 0.75rem black);
}
.shieldOcculte > input
{
    margin-top: 40px;
    width: 2em;
    border: transparent;
}

.shieldNature
{
    background: url(../assets/img/fond_stats.png) round 5px 24px, url(../assets/img/nature.png) no-repeat round 9px -17px, url(../assets/img/shield.png) no-repeat round 0px -27px;    height: 75px;
    width: 72px;
    text-align: -webkit-center;
    background-size: 61px, 53px, 70px;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    filter: drop-shadow(0 0 0.75rem black);
}
.shieldNature > input
{
    margin-top: 40px;
    width: 2em;
    border: transparent;
}

.shieldLumiere
{
    background: url(../assets/img/fond_stats.png) round 5px 24px, url(../assets/img/lumiere.png) no-repeat round 3px -11px, url(../assets/img/shield.png) no-repeat round 0px -27px;
    height: 75px;
    width: 72px;
    text-align: -webkit-center;
    background-size: 61px, 62px, 70px;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    filter: drop-shadow(0 0 0.75rem black);
}
.shieldLumiere > input
{
    margin-top: 40px;
    width: 2em;
    border: transparent;
}

.shieldFeu
{
    background: url(../assets/img/fond_stats.png) round 5px 24px, url(../assets/img/feu.png) no-repeat round 9px -15px, url(../assets/img/shield.png) no-repeat round 0px -27px;
    height: 75px;
    width: 72px;
    text-align: -webkit-center;
    background-size: 61px, 53px, 70px;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    filter: drop-shadow(0 0 0.75rem black);
}
.shieldFeu > input
{
    margin-top: 40px;
    width: 2em;
    border: transparent;
}

.shieldEau
{
    background: url(../assets/img/fond_stats.png) round 5px 24px, url(../assets/img/eau.png) no-repeat round 8px -18px, url(../assets/img/shield.png) no-repeat round 0px -27px;    height: 75px;
    width: 72px;
    text-align: -webkit-center;
    background-size: 61px, 53px, 70px;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    filter: drop-shadow(0 0 0.75rem black);
}
.shieldEau > input
{
    margin-top: 40px;
    width: 2em;
    border: transparent;
}

.shieldContondant
{
    background: url(../assets/img/fond_stats.png) round 5px 24px, url(../assets/img/contondant.png) no-repeat round 12px -10px, url(../assets/img/shield.png) no-repeat round 0px -27px;
    height: 75px;
    width: 72px;
    text-align: -webkit-center;
    background-size: 61px, 53px, 70px;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    filter: drop-shadow(0 0 0.75rem black);
}
.shieldContondant > input
{
    margin-top: 40px;
    width: 2em;
    border: transparent;
}

.lvlInput,
.lvlInput input {
    color: yellow !important;
    border-color: transparent;
    align-items: center;
    font-weight: bold;
}

.lvlInput input:nth-child(1) {
    text-align: right;
}
.lvlInput input:nth-child(2) {
    text-align: left;
}

.statPerso img {
    border: transparent;
    max-width: 40px;
}

.actor textarea {
    resize: none;
}

.vitesseDiv {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    border-radius: .25rem;
}

.actor textarea {
    background-image: -webkit-linear-gradient(left, transparent 10px, transparent 10px), -webkit-linear-gradient(right, transparent 10px, transparent 10px), -webkit-linear-gradient(transparent 30px, #ccc 30px, #ccc 31px, transparent 31px);
    background-image: -moz-linear-gradient(left, transparent 10px, transparent 10px), -moz-linear-gradient(right, transparent 10px, transparent 10px), -moz-linear-gradient(transparent 30px, #ccc 30px, #ccc 31px, transparent 31px);
    background-image: -ms-linear-gradient(left, transparent 10px, transparent 10px), -ms-linear-gradient(right, transparent 10px, transparent 10px), -ms-linear-gradient(transparent 30px, #ccc 30px, #ccc 31px, transparent 31px);
    background-image: -o-linear-gradient(left, transparent 10px, transparent 10px), -o-linear-gradient(right, transparent 10px, transparent 10px), -o-linear-gradient(transparent 30px, #ccc 30px, #ccc 31px, transparent 31px);
    background-image: linear-gradient(left, transparent 10px, transparent 10px), linear-gradient(right, transparent 10px, transparent 10px), linear-gradient(transparent 30px, #ccc 30px, #ccc 31px, transparent 31px);
    background-size: 100% 100%, 100% 100%, 100% 31px;
    border: transparent;
    line-height: 31px;
    font-family: Arial, Helvetica, Sans-serif;
    padding: 8px;
}

.actor textarea:focus {
    outline: none;
}